In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"A" : [14, 4, 5, 4, 1],  
                   "B" : [5, 2, 54, 3, 2], 
                   "C" : [20, 20, 7, 3, 8], 
                   "D" : [14, 3, 6, 2, 6]})

In [3]:
display(df)

    A   B   C   D
0  14   5  20  14
1   4   2  20   3
2   5  54   7   6
3   4   3   3   2
4   1   2   8   6

In [4]:
# function definition 
def highlight_cols(s): 
    color = 'red' if s < 6 else 'blue'
    return (f'background-color: {color}')

In [5]:
# The Styler object is accessible through style attribute of a data frame.
df.style.applymap(highlight_cols)

In [6]:
def highlight_cols2(s): 
    return (f'background-color: yellow')

In [7]:
# The Styler object is accessible through style attribute of a data frame.
df.style.applymap(highlight_cols2, subset=pd.IndexSlice[:, ['B', 'C']])

In [8]:
print(df.style.applymap(highlight_cols).to_string())

 A B C D
0 14 5 20 14
1 4 2 20 3
2 5 54 7 6
3 4 3 3 2
4 1 2 8 6

In [9]:
styler = df.style.applymap(highlight_cols)
print(styler.to_html())

<style type="text/css">
#T_82379_row0_col0, #T_82379_row0_col2, #T_82379_row0_col3, #T_82379_row1_col2, #T_82379_row2_col1, #T_82379_row2_col2, #T_82379_row2_col3, #T_82379_row4_col2, #T_82379_row4_col3 {
  background-color: blue;
}
#T_82379_row0_col1, #T_82379_row1_col0, #T_82379_row1_col1, #T_82379_row1_col3, #T_82379_row2_col0, #T_82379_row3_col0, #T_82379_row3_col1, #T_82379_row3_col2, #T_82379_row3_col3, #T_82379_row4_col0, #T_82379_row4_col1 {
  background-color: red;
}
</style>
<table id="T_82379">
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th id="T_82379_level0_col0" class="col_heading level0 col0" >A</th>
      <th id="T_82379_level0_col1" class="col_heading level0 col1" >B</th>
      <th id="T_82379_level0_col2" class="col_heading level0 col2" >C</th>
      <th id="T_82379_level0_col3" class="col_heading level0 col3" >D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_82379_level0_row0" class="row_heading level0 row0" >0</th>
      <td id="T_82379_row0_col0" class="data row0 col0" >14</td>
      <td id="T_82379_row0_col1" class="data row0 col1" >5</td>
      <td id="T_82379_row0_col2" class="data row0 col2" >20</td>
      <td id="T_82379_row0_col3" class="data row0 col3" >14</td>
    </tr>
    <tr>
      <th id="T_82379_level0_row1" class="row_heading level0 row1" >1</th>
      <td id="T_82379_row1_col0" class="data row1 col0" >4</td>
      <td id="T_82379_row1_col1" class="data row1 col1" >2</td>
      <td id="T_82379_row1_col2" class="data row1 col2" >20</td>
      <td id="T_82379_row1_col3" class="data row1 col3" >3</td>
    </tr>
    <tr>
      <th id="T_82379_level0_row2" class="row_heading level0 row2" >2</th>
      <td id="T_82379_row2_col0" class="data row2 col0" >5</td>
      <td id="T_82379_row2_col1" class="data row2 col1" >54</td>
      <td id="T_82379_row2_col2" class="data row2 col2" >7</td>
      <td id="T_82379_row2_col3" class="data row2 col3" >6</td>
    </tr>
    <tr>
      <th id="T_82379_level0_row3" class="row_heading level0 row3" >3</th>
      <td id="T_82379_row3_col0" class="data row3 col0" >4</td>
      <td id="T_82379_row3_col1" class="data row3 col1" >3</td>
      <td id="T_82379_row3_col2" class="data row3 col2" >3</td>
      <td id="T_82379_row3_col3" class="data row3 col3" >2</td>
    </tr>
    <tr>
      <th id="T_82379_level0_row4" class="row_heading level0 row4" >4</th>
      <td id="T_82379_row4_col0" class="data row4 col0" >1</td>
      <td id="T_82379_row4_col1" class="data row4 col1" >2</td>
      <td id="T_82379_row4_col2" class="data row4 col2" >8</td>
      <td id="T_82379_row4_col3" class="data row4 col3" >6</td>
    </tr>
  </tbody>
</table>

In [10]:
type(df.style)  # uses _repr_html_ method creates an HTML representation of it.

pandas.io.formats.style.Styler

In [11]:
print(df._repr_html_())

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>14</td>
      <td>5</td>
      <td>20</td>
      <td>14</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>2</td>
      <td>20</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>54</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>2</td>
      <td>8</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
df.to_html()  # same as above

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>A</th>\n      <th>B</th>\n      <th>C</th>\n      <th>D</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>14</td>\n      <td>5</td>\n      <td>20</td>\n      <td>14</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>4</td>\n      <td>2</td>\n      <td>20</td>\n      <td>3</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>5</td>\n      <td>54</td>\n      <td>7</td>\n      <td>6</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4</td>\n      <td>3</td>\n      <td>3</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>1</td>\n      <td>2</td>\n      <td>8</td>\n      <td>6</td>\n    </tr>\n  </tbody>\n</table>'

In [13]:
# https://coderzcolumn.com/tutorials/python/simple-guide-to-style-display-of-pandas-dataframes
data = np.random.random(size=(10,5))

df = pd.DataFrame(data=data, columns=list("ABCDE"),
                             index=["A1", "B2", "C3", "D4", "E5", "F6", "G7", "H8", "I9", "J10"])

In [14]:
df.style.set_table_styles([{"selector":"thead",
                            "props":"background-color:dodgerblue; color:white; border:3px solid red;"},])

In [15]:
# same as above
df.style.set_table_styles([{"selector":"thead",
                                "props": [("background-color", "dodgerblue"), 
                                          ("color", "white"),
                                          ("border", "3px solid red"),]},])

In [16]:
df.style.set_table_styles([{"selector":"thead",
                            "props": [("background-color", "dodgerblue"), 
                                      ("color", "white"),
                                      ("border", "3px solid red"),
                                      ("font-size", "2rem"), ("font-style", "italic")]},
                            {"selector":"th.row_heading",
                             "props": [("background-color", "orange"), ("color", "green"),
                                          ("border", "3px solid black"),
                                          ("font-size", "2rem"), ("font-style", "italic")]},])

In [17]:
# sets style of column 'C'
df.style.set_table_styles({"C" : [{"selector" :"td",
                                   "props": [("border","2px solid red"),
                                             ("color", "green"),
                                             ("background-color", "yellow")]}]})

In [18]:
# sets style for an individual row
df.style.set_table_styles([{"selector" :".row1",
                            "props": [("border","2px solid red"),
                                      ("color", "green"),
                                      ("background-color", "yellow")]}])

In [19]:
# same as above
df.style.set_table_styles({"B2" : [{"selector" :"td",
                                     "props": [("border","2px solid red"),
                                               ("color", "green"),
                                               ("background-color", "yellow")]}]}, axis=1)

In [20]:
# individual cell
df.style.set_table_styles([{"selector" :".row1.col1",
                            "props": [("border","2px solid red"),
                                                  ("color", "green"),
                                                  ("background-color", "yellow")]}])

In [21]:
df.style.applymap(lambda x: "background-color:lime; font-size:1.5rem;" if x > 0.5 else "background-color:tomato; font-size:0.9rem;",
                      subset=["B", "D"])

In [22]:
df.style.apply(lambda x: ["background-color:lime; font-size:1.5rem;" if i>0.5 \
                          else "background-color:tomato; font-size:0.9rem;" for i in x],
                   subset=["B", "D"],
                   )

In [23]:
df.style.apply(lambda x: ["background-color:dodgerblue;" if i == x.max() \
                              else "background-color:orange;" for i in x],
                   axis=1) ## Axis=1 : Row and Axis=0: Column

In [24]:
df.iloc[0, 1] = np.nan
df.iloc[1, 3] = np.nan
df.iloc[3, 4] = np.nan
df.iloc[4, 4] = np.nan
df.iloc[6, 2] = np.nan
df.iloc[8, 3] = np.nan
df.iloc[9, 4] = np.nan

df.style.highlight_null()

In [25]:
df.style.highlight_null(props="border: 2px solid dodgerblue; background-color: yellow; color:red;")

In [26]:
df.style.highlight_min(axis=0, color="tomato")

In [27]:
df.style.highlight_max(axis=1, color="lightblue")

In [28]:
df.style.highlight_between(left=0.3, right=0.6, color="yellow", axis=0)

In [29]:
df.style.highlight_between(left=0.3, right=0.6,
                           axis=1,
                           props="background-color:tomato; border:3px dotted dodgerblue;")

In [30]:
df.style.highlight_quantile(q_left=0.0, q_right=0.5,
                            axis=0, props="border: 2px solid grey; background-color: black; color:white;")

In [31]:
df.style.highlight_quantile(q_left=0.0, q_right=0.5, inclusive="neither",
                            axis=0, props="border: 2px solid grey; background-color: black; color:white;")

In [32]:
import matplotlib.pyplot as plt
df.style.background_gradient(cmap="Purples")

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
df.style.text_gradient(cmap="Purples")

In [ ]:
df.style.set_properties(color="red", border="2px solid dodgerblue")

In [ ]:
df.style.set_properties(**{
                            "color":"red",
                            "border":"2px solid dodgerblue",
                            "background-color": "yellow",

                           })